<header class="site-header">
  <nav>
    <ul>
      <li><a href="">Home</a></li>
      <li><a href="/trap" onclick="alert('You are exactly where your story wants you to be'); return false;">About</a></li>
      <li><a href="/trap" onclick="alert('You are exactly where your story wants you to be'); return false;">Services</a></li>
      <li><a href="/trap" onclick="alert('You are exactly where your story wants you to be'); return false;">Contact</a></li>
      <li><a href="/trap" onclick="alert('You are exactly where your story wants you to be'); return false;">Blog</a></li>
    </ul>
  </nav>
</header>

