<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Secret level</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
  <form method="post" class="secret-form">
    <h1>Login to prove you're worthy</h1>
    {% if error %}
        <p class="error">{{ error }}</p>
    {% endif %}
    <input name="username" placeholder="Username" required>
    <input type="password" name="password" placeholder="Password" required>
    <button type="submit">Login</button>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
  </form>
  <script src="/static/js/secret_login.js"></script>
</body>
</html>

